/node_modules/
yarn.lock
package-lock.json
tmp
CustomerProfilePictures
.DS_Store
ItemPictures
ShopPictures
OwnerProfilePictures
CustomerProfilePictures
.idea/misc.xml
.idea/modules.xml
.idea/SEBA-Backend.iml
.idea/vcs.xml
.idea/workspace.xml
.vscode/launch.json
